.ccu-ads {
  div {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  button {
    border: none;
    background: none;
  }
  img, video {
    max-width: 100%;
    height: auto;
  }
  .ads-style {
    &-absolute {
      position: absolute;
    }
    &-fixed {
      position: fixed;
      top: 0;
      left: 0;
    }
    &-flex {
      display: flex;
    }
    &-flex-1 {
      flex: 1;
    }
    &-flex-row {
      flex-direction: row;
    }
    &-flex-col {
      flex-direction: column;
    }
    &-items-start {
      align-items: flex-start;
    }
    &-items-center {
      align-items: center;
    }
    &-items-end {
      align-items: flex-end;
    }
    &-justify-start {
      justify-content: flex-start;
    }
    &-justify-center {
      justify-content: center;
    }
    &-justify-end {
      justify-content: flex-end;
    }
    &-justify-between {
      justify-content: space-between;
    }
    &-w-full {
      width: 100%;
    }
    &-h-full {
      height: 100%;
    }
    &-h-20 {
      height: 80px;
    }
    &-w-90 {
      width: 90%;
    }
    &-w-10 {
      width: 40px
    }
    &-w-80 {
      width: 80%;
    }
    &-max-w-7xl {
      max-width: 1360px;
    }
    &-max-w-xl {
      max-width: 576px;
    }

    &-ml-1 {
      margin-left: 16px;
    }
    &-ml-2 {
      margin-left: 16px;
    }
    &-mr-1 {
      margin-right: 16px;
    }
    &-mr-2 {
      margin-right: 32px;
    }
    &-mt-1 {
      margin-top: 16px;
    }
    &-mt-2 {
      margin-top: 32px;
    }
    &-mb-1 {
      margin-bottom: 16px;
    }
    &-mb-2 {
      margin-bottom: 32px;
    }
    &-p-1 {
      padding: 16px;
    }
    &-p-2 {
      padding: 32px;
    }
    &-py-1 {
      padding-top: 16px;
      padding-bottom: 16px;
    }
    &-px-1 {
      padding-left: 16px;
      padding-right: 16px;
    }
    &-pt-0 {
      padding-top: 0;
    }

    /* text */
    &-font-bold {
      font-weight: 700;
    }
    &-font-xs {
      font-size: 11.2px;
    }
    &-font-sm {
      font-size: 12.8px;
    }
    &-font-base {
      font-size: 16px;
    }
    &-font-lg {
      font-size: 19.2px;
    }
    &-font-xl {
      font-size: 24px;
    }
    &-font-2xl {
      font-size: 38px;
    }
    &-italic {
      font-style: italic;
    }
    &-underline {
      text-decoration: underline;
    }
    &-text-center {
      text-align: center;
    }
    &-spacing {
      letter-spacing: 0.1rem;
    }

    /* text colors */
    &-text-gray {
      color: #799499;
    }
    &-text-white {
      color: white;
    }

    &-uppercase {
      text-transform: uppercase;
    }
    /* background colors */
    &-bg-black {
      background-color: black;
    }
    &-bg-white {
      background-color: white;
    }
    &-bg-light-blue {
      background-color: #1f9bf4;
    }
    &-bg-green {
      background-color: #06DE9E;
    }

    &-bg-gray {
      background-color: #d2dcd6 !important;
    }

    &-cursor-pointer {
      cursor: pointer;
    }
  }
  

  svg {
    position: absolute;
    top: 2;
    left: 2;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }

  circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 3px;
    stroke: #06DE9E;
    fill: none;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }

  @keyframes countdown {
    from {
      stroke-dashoffset: 0px;
    }
    to {
      stroke-dashoffset: 113px;
    }
  }

}
